:root {
  font-family: 'Sriracha', cursive;
  color: white;
  background-color: hsl(0, 0%, 0%);
  text-align: center;
  padding: 20px;
}
.card{
  border: 1px solid hsl(0, 0%, 80%);
  border:none;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px hsl(0, 0%, 80%);
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, .1);
  text-align: center;
  max-width: 250px;
  display: inline-block;
  font-family: "Sriracha", serif;
  background: linear-gradient(to bottom, hsla(120, 100%, 28%, 1) 25%, hsl(120, 100%, 30%) 10%);
  color: white;
  transform: rotate(1deg);
}

.container{
  background-color: hsl(0, 0%, 10%);
  height: 100%;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
}
.container h1{
  margin-top: 10px;
  padding-top: 10px;
}


